html, body{
    margin-left: auto;
    margin-right:auto;
    padding: 0;
    margin: 0;
  }
a {
    text-decoration:none;
    color:#FFFFFF;
    list-style: none;
}
header{
    display: flex;
    height: 347px;
  }
@media screen and (max-width:768px) {
    header{
        display: flex;
        height: 250px;
      }
}
@media screen and (max-width:428px) {
    header{
        display: flex;
        height: 200px;
      }
}
.hdd{
    display: flex;
    margin-bottom: 36px;
  }
.icon_box{
    width: 135px;
    height: 135px;
    position: relative;
    top: 0%;
    left: 5%;
  }
  .logo_icon_header{
    width: 135px;
    height: 135px;
  }
  @media screen and (max-width:768px) {
    .hdd{
        width: 768px;
      }
    .icon_box{
      width: 135px;
      height: 135px;
      left: 0%;
    }
  } 
  @media screen and (max-width:428px) {
    .hdd{
        width: 428px;
    }
    .icon_box{
      width: 81px;
      height: 81px;
    }
    .logo_icon_header{
      width: 81px;
      height: 100%;
    }
  }
  
  .nav_box{
    width: 830px;
    height: 59px;
    background: #607066;
    display: flex;
    position: relative;
    left: 41%;
    top: 100%;
  }
  .box{
    display:flex;
    height: 38px;
  }
  @media screen and (max-width:768px) {
    .nav_box{
      width: 633px;
      height: 59px;
      top: 100%;
      left: -14%;
    }
  }
  @media screen and (max-width:428px) {
    .nav_box{
        width: 347px;
        height: 81px;
        top: 0%;
        left: -25.4%;
    }
  }
  .nav_list{
    display: flex;
    flex-wrap: wrap;
    padding-left: 28px;
    padding-top: 22px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    background: #607066;
  }
  
  #list_text{
    margin-right: 3px;
  }
  #list_text_eng{
    font-size: 10px;
    color: #FFFFFF;
    margin-right: 39px;
  }
  .list{
    display: flex;
  }
  @media screen and (max-width:768px) {
    .nav_list{
      font-size: 12px;
      padding-left: 20px;
      padding-top: 25px;
      display: flex;
    }
    #list_text_eng{
      font-size: 6px;
      margin-right: 25px;
    }
  }
.cfe{
    font-size: 26px;
    font-weight:bold;
    color: #FFFFFF;
    display: flex;
    padding-top: 217px;
    padding-left: 60px;
}
@media screen and (max-width:768px) {
    .cfe{
      width: 150px;
      font-size: 24px;
      padding-top: 150px;
      padding-left: 0px;
    }
  }
@media screen and (max-width:428px) {
    .cfe{
      padding-top: 105px;
    }
}
.text_box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav01_list{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}
#na01_list_t {
    font-size: 16px;
    color: #607066;
    height: 20%;
    border-right: 5px solid #607066;
    padding-right: 21px;
    padding-left: 21px;
    margin-top: 34px;
}
#na01_list_t1 {
    font-size: 16px;
    color: #607066;
    height: 20%;
    padding-left: 21px;
    margin-top: 34px;
}
@media screen and (max-width:428px) {
    #na01_list_t {
        font-size: 12px;
        height: 20%;
        border-right: 3px solid #607066;
        padding-right: 10px;
        padding-left: 10px;
        margin-top: 15px;
    }
    #na01_list_t1 {
        font-size: 12px;
        color: #607066;
        height: 20%;
        padding-left: 10px;
        margin-top: 15px;
    }
}
.BTM{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 29px;
}
.BTM_1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 186px;
    height: 55px;
    background: #DBE2DE;
}

#BTM_text{
    font-size: 24px;
    color: #607066;
    font-weight: bold;
    margin-bottom: 0;
}
@media screen and (max-width:428px) {
    .BTM{
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .BTM_1{
        width: 100px;
        height: 35px;
    }
    #BTM_text{
        font-size: 14px;
    }
}
#black{
    position:absolute;
    width: 442px;
    height: 442px;
    left: 215px;
    border-radius: 23px;
    z-index:2;
}
#btm{
    width: 999px;
    height: 285px;
    left:0px;
    margin-top: 222px;
    z-index:1;
}
@media screen and (max-width:768px) {
    #black{
        width: 221px;
        height: 221px;
        left: 50px;
        border-radius: 15px;
        z-index:2;
    }
}
@media screen and (max-width:428px) {
    #black{
        width: 221px;
        height: 221px;
        left: 50px;
        border-radius: 15px;
        z-index:2;
    }
}
.line{
    position:absolute;
    width: 392px;
    height: 216px;
    padding:5px 52px;
    padding-bottom: 25px;
    margin-left:300px;
    margin-top: 129px;
    border: 2px solid #607066;

    z-index:2;
}
#black01{
    display:block;
    width: 220px;
    position:relative;
    top:-30px;
    margin-bottom: 0;
    text-align: center;
    background: white;
    font-size: 42px;
    font-weight: bold;
    color: #607066;

}
#black02{
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #607066;
    margin-top: -30px;
}
@media screen and (max-width:768px) {
    .line{
        width: 270px;
        height: 180px;
        left: 0px;
        margin-top: 40px;
        padding:5px 25px;
        z-index:2;
    }
    #btm{
        width: 655px;
        height: 185px;
        left:0px;
        margin-top: 111px;
        z-index:1;
    }
    #black01{
        font-size: 28px;
        width: 150px;
    }
    #black02{
        font-size: 20px;
        line-height: 20px;
    }
}
@media screen and (max-width:428px) {
    .line{
        width: 270px;
        height: 180px;
        left: 0px;
        margin-top: 266px;
        margin-left:35px;
        padding:5px 25px;
        z-index:2;
    }
    #btm{
        width: 315px;
        height: 165px;
        left:0px;
        margin-top: 111px;
        z-index:1;
    }
    #black01{
        font-size: 28px;
        width: 150px;
    }
    #black02{
        font-size: 20px;
        line-height: 20px;
    }
}
.ice_hot{
    justify-content: space-between;
}
#price_size{
    font-size: 14px;
    color: #607066;
    width: 146px;
    margin: 0px;
}
.intro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 62px;
}
#coffee_introduce{
    font-size: 15px;
    color: #FFFFFF;
    line-height: 19px;
}
@media screen and (max-width:768px) {
    #price_size{
        font-size: 12px;
    }
    #coffee_introduce{
        font-size: 12px;
        color: #FFFFFF;
        line-height: 16px;
    }
}
@media screen and (max-width:428px) {
    #coffee_introduce{
        font-size: 12px;
        color: #607066;
        line-height: 16px;
    }
    .intro{
        margin-bottom: 180px;
    }
}
.online_order{
    position:absolute;
    z-index:2;
    left: 856px;
    top: 904px;
}
#order_btn{
    background-color: #FFFFFF;
    border: none;
    color: #607066;
    padding: 5px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}
@media screen and (max-width:768px) {
    .online_order{
        left: 384px;
        top: 689px;
    }
}
@media screen and (max-width:428px) {
    .online_order{
        left: 307px;
        top: 752px;
    }
    #order_btn{
        background-color: #607066;
        color: #FFFFFF;
    }
}
#aa{
    font-weight: bold;
}
#cf_list{
    margin-bottom: 19px;
}
#point{
    margin-bottom: 27px;
}
.pp{
    margin-top: 5px;
}
@media screen and (max-width:768px) {
    #aa{
        font-weight: bold;
        font-size: 9px;
    }
    #cf_list{
        font-size: 9px;
        margin-bottom: 12px;
    }
    #point{
        margin-bottom: 14px;
        width: 10px;
        height: 10px;
    }
    .pp{
        margin-top: 0px;
        padding-left: 10px;
    }
    .coffee_list{
        padding-left: 8px;
    }
    
}

footer{
    width: 100%;
    height: 160px;
    background: #607066;
  }
  
  .footer_box{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer_text{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 106px;
    margin-top: 26px;
  }
  .logo_icon{
    width: 30%;
    margin-right: 17px;
  }
  @media screen and (max-width:768px) {
    .logo_icon{
      width: 30%;
      margin-right: 0px;
    }
    .footer_text{
      margin-top: 0;
      margin-left: 40px;
    }
  }
  @media screen and (max-width:428px) {
    .logo_icon{
      width: 30%;
      margin-right: 0px;
    }
    .footer_text{
      margin-top: 0;
      margin-left: 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  #small_text{
    font-size: 14px;
    color: #FFFFFF;
    margin-bottom: 0;
  }
  .small_text2{
    font-size: 10px;
    color: #FFFFFF;
    margin-top: 133px;
    margin-left: 80px;
  }
  .footrt_icon{
    margin-left: 109px;
  }
  #icon{
    margin-right: 29px;
  }
  @media screen and (max-width:768px) {
    #small_text{
      font-size: 10px;
      width: 150px;
    }
    .small_text2{
      font-size: 6px;
      margin-top: 133px;
      margin-left: 0px;
    }
    .footrt_icon{
      margin-left: 0;
    }
    #icon{
      width: 8%;
      margin-right: 15px;
    }
  }
  @media screen and (max-width:428px) {
    .footer_box{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    #small_text{
      font-size: 10px;
      width: 150px;
    }
    .small_text2{
      font-size: 6px;
      margin-top: 10px;
      margin-left: 0px;
      margin-bottom: 10px;
    }
    .footrt_icon{
      padding-left: 60px;
    }
    #icon{
      width: 10%;
      margin-right: 15px;
    }
    #top_icon{
      width: 100%;
      padding-left: 340px;
    }
  }