html, body{

  background:rgba(255, 255, 255, 0.3);
  background-image: url(/page1/img/首頁/背景.jpg);
  background-repeat: no-repeat;
  background-attachment:fixed;
  
  background-size: 100%;
  margin-left: auto;
  margin-right:auto;
  padding: 0;
  margin: 0;
}
a {
  text-decoration:none;
  color:#FFFFFF;
  list-style: none;
}

Container{ 
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    height: 100px;
    border: 0px ;
    overflow: scroll;
    
    background-image: url("/page1/img/首頁/背景.jpg");
    background-repeat: no-repeat;
    
    /* 背景圖會固定在網頁的可視區域 */
    background-attachment: fixed; 
    background-position: center;
    background-size: contain;
  } 
  

.Banner img {
	width: 100%;
	max-height: 0%;
  margin-bottom: 45px;
}
@media screen and (max-width:428px) {
  .Banner{
    width: 100%;
    height: 100%;
    left: 0%;
  }
}
header{
  display: flex;
}
.hdd{
  display: flex;
  margin-bottom: 36px;
}
.icon_box{
  width: 135px;
  height: 135px;
  position: relative;
  top: 0%;
  left: 5%;
}
.logo_icon_header{
  width: 135px;
  height: 135px;
}
@media screen and (max-width:768px) {
  .icon_box{
    width: 135px;
    height: 135px;
    left: 0%;
  }
} 
@media screen and (max-width:428px) {
  .icon_box{
    width: 81px;
    height: 81px;
  }
  .logo_icon_header{
    width: 81px;
    height: 100%;
  }
}
.nav_box{
  width: 830px;
  height: 59px;
  background: #607066;
  display: flex;
  position: relative;
  left:66.7%;
}
.box{
  display:flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width:768px) {
  .nav_box{
    width: 100%;
    height: 50%;
    top: 5%;
    left: 12%;
  }
}
@media screen and (max-width:428px) {
  .nav_box{
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
  }
}
.nav_list{
  display: flex;
  flex-wrap: wrap;
  padding-left: 28px;
  padding-top: 22px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  background: #607066;
}
#list_text{
  margin-right: 3px;
}
#list_text_eng{
  font-size: 10px;
  color: #FFFFFF;
  margin-right: 39px;
}
.list{
  display: flex;
}
@media screen and (max-width:768px) {
  .nav_list{
    font-size: 10px;
    padding-left: 20px;
    padding-top: 25px;
    display: flex;
  }
  #list_text_eng{
    font-size: 6px;
    margin-right: 25px;
  }
}

.NEWS_text{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 10px;
  color: #FFFFFF;
  margin-bottom: 42px;
}
#nwes_t{
  border-bottom: solid;
  border-width: 4px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

#carouselExampleControls{
  width: 675px;
}

.NEWS_BOX{
  width: 605px;
  height: 546px;
  background: #607066;
  padding-top: 105px;
  padding-bottom: 105px;
  padding-left: 102px;
  padding-right: 102px;
}
@media screen and (max-width:768px) {
  #carouselExampleControls{
    width: 384px;
  }

  .NEWS_BOX{
    width: 384px;
    height: 310px;
    padding-top: 45px;
    padding-bottom: 65px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width:428px) {
  #carouselExampleControls{
    width: 428px;
  }
  .NEWS_BOX{
    width: 428px;
    height: 310px;
    padding-top: 55px;
    padding-bottom: 65px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .news_article{
    display: flex;
    flex-direction: column;
  }
}
.news_article{
  display: flex;
  justify-content: center;
}
.text{
  justify-content: center;
  align-items: center;
}
#t1{
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
}
#t2{
  font-weight: 900;
  font-size: 30px;
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 33px;
}
#t3{
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: #FFFFFF;
}
.more_btn{
  width: 109px;
  height: 29px;
  background-color: #FFFFFF;
  color: #607066;
  border: none;
  margin-left: 248px;
}
@media screen and (max-width:768px) {
  #t1{
    font-size: 18px;
  }
  #t2{
    font-size: 20px;
    padding-bottom: 15px;
  }
  #t3{
    font-size: 12px;
  }
  .more_btn{
    width: 80px;
    height: 19px;
    font-size: 10px;
    margin-left: 102px;
  }
}
@media screen and (max-width:428px) {
  #t1{
    font-size: 16px;
  }
  #t2{
    font-size: 18px;
    padding-bottom: 12px;
  }
  #t3{
    font-size: 10px;
  }
  .more_btn{
    width: 80px;
    height: 19px;
    font-size: 10px;
    margin-left: 124px;
  }
}
.new_coffee_box{
  width: 100%;
  height: 707px;  
  margin-top: 110px;
  padding-top: 126px;
  padding-bottom: 126px;
  padding-left: 89px;
  padding-right: 89px;  
}

#nt1{
  font-weight: bold;
  font-size: 20px;
  color: #607066;
  margin-right: 20px;
  margin-bottom: 0;
  height: 23px;
}
@media screen and (max-width:768px) {
  .new_coffee_box{
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding-top: 20px;
  }
  #nt1{
    font-weight: bold;
    font-size: 20px;
  }
}

.link-top{
  width: 319px;
  height: 15px;
  border-bottom: solid #607066 4px;
  margin-right: 35px;
}

.new_text{
  display: flex;
  align-items: center;
}
#new_more_btn{
  width: 109px;
  height: 29px;
  background-color: #607066;
  color: #FFFFFF;
  border: none;
}
@media screen and (max-width:428px) {
  .new_coffee_box{
    align-items: center;
    justify-content: center;

  }
  #nt1{
    font-weight: bold;
    font-size: 14px;
    margin-right: 5px;
  }
  .link-top{
    width: 100px;
    height: 5px;
    border-bottom: solid #607066 2px;
    margin-right: 10px;
  }
  #new_more_btn{
    width: 59px;
    height: 25px;
    font-size: 12px;
  }
}
.new_coffee_photo{
  margin-top: 23px;
}
#coffee1{
  margin-right: 31px;
}
@media screen and (max-width:768px) {
  #coffee1{
    width: 40%;
    margin-right: 70px;
  }
  #coffee2{
    width: 40%;
  }
}
@media screen and (max-width:428px) {
  #coffee1{
    width: 100%;
    margin-right: 0px;
  }
  #coffee2{
    width: 100%;
  }
}
footer{
  width: 100%;
  height: 160px;
  background: #607066;
}

.footer_box{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_text{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 106px;
  margin-top: 26px;
}
.logo_icon{
  width: 30%;
  margin-right: 17px;
}
@media screen and (max-width:768px) {
  .logo_icon{
    width: 30%;
    margin-right: 0px;
  }
  .footer_text{
    margin-top: 0;
    margin-left: 40px;
  }
}
@media screen and (max-width:428px) {
  .logo_icon{
    width: 30%;
    margin-right: 0px;
  }
  .footer_text{
    margin-top: 0;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
#small_text{
  font-size: 14px;
  color: #FFFFFF;
  margin-bottom: 0;
}
.small_text2{
  font-size: 10px;
  color: #FFFFFF;
  margin-top: 133px;
  margin-left: 80px;
}
.footrt_icon{
  margin-left: 109px;
}
#icon{
  margin-right: 29px;
}
@media screen and (max-width:768px) {
  #small_text{
    font-size: 10px;
    width: 150px;
  }
  .small_text2{
    font-size: 6px;
    margin-top: 133px;
    margin-left: 0px;
  }
  .footrt_icon{
    margin-left: 0;
  }
  #icon{
    width: 8%;
    margin-right: 15px;
  }
}
@media screen and (max-width:428px) {
  .footer_box{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #small_text{
    font-size: 10px;
    width: 150px;
  }
  .small_text2{
    font-size: 6px;
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: 10px;
  }
  .footrt_icon{
    padding-left: 60px;
  }
  #icon{
    width: 10%;
    margin-right: 15px;
  }
  #top_icon{
    width: 100%;
    padding-left: 340px;
  }
}